body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  margin: 0;
  position: relative;
  background-image: url('https://s3.amazonaws.com/makeitreal/cars/jaguar-xe.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 3rem;
  padding-top: 5rem;
  box-sizing: border-box;
}

main {
  box-sizing: border-box;
}

section {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  max-width: 600px;
  padding: 0.5rem 1rem;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
}

h1, p {
  color: white;    
}

h1 {
  font-weight: 700;
}

a {
  display: block;
  width: max-content;
  background-color: #DB3030;
  border: 0;
  color: white;
  font-weight: 700;
  padding: 0.5rem 1rem;
  text-decoration: none;
  cursor: pointer;
}
